*{
    margin: 0;
    padding: 0;
    margin-top: 0%;
    
}
#banner{
    background-image: linear-gradient(rgba(0,0,0,0.1),#f17aa8),url(images/tata1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    
}
.banner-text{
    text-align: center;
    padding-top: 10em;
    color:#486AAE;
}
.banner-text h1{
    font-weight: 900;
    font-size: 4em;
}
.banner-text p{
    font-weight: 700;
    font-size: 1.2em;
    font-style: italic;
}

.banner-btn{
    margin: 100px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    font-weight:700;
    display: inline-block;
    margin: 0 40px;
    padding: 12px 0;
    border: 1px black solid;
    position: relative;
    z-index: 1;
    transition: 0.9s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
    color: white;
}
.banner-btn a:hover{
    color: #486AAE ;

    font-weight: 700;
    border: 1px solid white;
}
#sidenav{
    width: 250px;
    transition: 0.3s;
    height: 100vh;
    top: 0;
    right: -250px;
    position: fixed;
    background-color: #486AAE;
    z-index: 2;
}
nav ul li{
    list-style: none;
    color: white;
    font-weight: 700;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    text-decoration: none;
    color: aliceblue;
}
#menubtn{
    position: fixed;
    right: 30px;
    top: 20px;
    background-color: #486AAE;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}
@media screen and (max-width: 770px){
    .banner-text h1{
        font-weight: 900;
        font-size: 2em;
        top: 20px;
    }
    .banner-text p{
        font-weight: 700;
        font-size: 0.6em;
        font-style: italic;
    }
    .banner-btn{
        margin: 40px auto 0;
    }
    .banner-btn a{
        width: 150px;
        text-decoration: none;
        color: white;
        display: inline-block;
        margin: 0 10px;
        padding: 8px 0;
        border: 1px #fff solid;
        position: relative;
        z-index: 1;
        transition: 0.5s;
    }
    #menubtn img{
        width: 10px;
        margin-top: 10px;
    }
    #menubtn{
        position: fixed;
        right: 20px;
        top: 10px;
        background-color: #486AAE;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        text-align: center;
        z-index: 3;
        cursor: pointer;
    }  
    .banner-btn{
        margin: 100px auto 0;
    }
    .banner-btn a{
        width: 90px;
        text-decoration: none;
        font-size: 12px;
        color:white;
        display: inline-block;
        margin: 0 40px;
        padding: 7px 0;
        border: 1px #fff solid;
        position: relative;
        z-index: 1;
        transition: 0.9s;
    } 
}
/*--features--*/

footer{
    background-color:#333;
    margin-bottom: 0px;
    height: 5vh;
    bottom: 0px;
    
}
footer p{
    color:white;
    text-align: center;
    
}

#preloader{
    background: #fff url(images/Book.gif) no-repeat center center;
    height: 100vh;
    z-index: 100;
    width: 100%;
    position: fixed;
    transition: 5s;
}
.banner-text{
    
}